# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
ENV/
.agents/
# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode
.vscode/

# macOS
.DS_Store

# OneDrive
*.onetoc2

# Pytest
.pytest_cache/

# Logs
*.log

# Secrets
.env

website/
material/
data/
*.zip
*.tar.gz
tmp.txt
tools/

PLANS.md
PR_EXEC*
PRs.md
chat_inputs.txt