numpy
pytest
pytest-asyncio
aiohttp
pyyaml
charset-normalizer

# Optional PDF parsing for examples
PyPDF2
#DB backends
neo4j           #graph db
sqlite          #sql db
qdrant-client   #vector db
fastembed # for qdrant bm25
#faiss-cpu    #vector db --- IGNORE ---

# LLM integrations 
ollama
#openai
